/* Services.css */

.services {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para la barra de progreso */
  .progress-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .progress-step {
    padding: 10px;
    border-bottom: 2px solid #ccc;
    flex-grow: 1;
    text-align: center;
  }
  
  .progress-step.completed {
    border-color: green;
    color: green;
  }
  