/* Estilos generales */

.form-group-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}
  
.form-group {
    position: relative;
    flex: 1 1 45%;
    margin-bottom: 15px;
}

#form-discount {
    margin-top: 30px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    height: 60px;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border 0.3s;
}

.form-group textarea {
    min-height: 120px;
    width: 100%;
    font-family: var(--secondary-font);
    resize: none;
}

/* Label */
.form-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--text-color);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    padding: 0 5px;
    background: var(--background-color);
    transition: all 0.3s;
}

/* Placeholder invisible al hacer focus */
.form-group input:focus::placeholder,
.form-group textarea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
}

.form-group input:focus + label,
.form-group textarea:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:not(:placeholder-shown) + label {
    top: 7px;
    left: 12px;
    transform: translateY(-100%);
    font-size: 12px;
    color: var(--secondary-color);
    opacity: 1;
    visibility: visible;
}

/* Phone styles */
.phone-container {
    display: flex;
    gap: 20px;
}

.flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    width: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flag-container img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.flag-container input {
    border-radius: 1px;
}

/* Estilo de las opciones del select */
#select-provincia option {
    background-color: var(--white-color);
    color: var(--secondary-color);
    padding: 12px 16px;
    border: none;
}

#form-discount-span {
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
}

#form-discount input {
    margin-top: 10px; 
}

/* Estilos para los mensajes de error */
.error {
    color: var(--red-color);
    font-size: 12px;
    margin-top: 5px;
}
  
.form-group.error input,
.form-group.error select,
.form-group.error textarea {
    border-color: var(--red-color);
}
  
.form-group.error label {
    color: var(--red-color);
  }
  
button.error {
    background-color: #ffcccc;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

/* Pantallas menores a 900px */
@media screen and (max-width: 900px) {
    .form-group-wrapper {
        flex-direction: column;
        align-items: center;
    }
  
    .form-group {
      width: 100%;
    }

    .form-group textarea {
        height: auto;
    }
}
  
/* Pantallas menores a 650px */
@media screen and (max-width: 650px) {
    .form-group-wrapper {
        display: block;
        flex-direction: column;
        align-items: center;
    }
  
    .form-group input,
    .form-group select,
    .form-group textarea {
      height: 50px;
      font-size: 14px;
    }
  
    .form-group textarea {
      min-height: 100px;
    }
}