/* Colores para el estado de cada fila */
.row-in-review {
    background-color: transparent;
  }
  
  .row-budget-sent {
    background-color: #fff3cd;
  }
  
  .row-approved {
    background-color: #d4edda;
  }
  
  .row-rejected {
    background-color: #f8d7da;
  }
  
  .row-ready-for-return {
    background-color: #e2d0f1;
  }
  
  /* Estilos generales de la tabla */
  .cotizaciones-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cotizaciones-table th, .cotizaciones-table td {
    border: 1px solid #ddd; /* Bordes en gris claro */
    padding: 8px;
    text-align: left;
  }
  
  .cotizaciones-table th {
    background-color: #f2f2f2;
  }
  
  /* Transiciones suaves */
  .cotizaciones-table tbody tr {
    transition: background-color 0.3s ease;
  }
  
  /* Estilos para el select */
  .status-select {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid transparent;
  }
  
  /* Estilos para las columnas */
  .small-column {
    width: 120px; /* Tamaño equitativo y pequeño para "Número de Solicitud", "Número de Cliente", y "Fecha" */
  }
  
  .appliance-column {
    width: 150px; /* Espacio razonable para "Electrodoméstico" */
  }
  
  .status-column {
    width: 120px; /* Espacio adecuado para que los select sean legibles */
  }
  
  .details-column {
    width: 200px; /* Tamaño ajustado para "Detalles Adicionales" (20% menos) */
  }
  
  .review-column {
    width: 180px; /* Tamaño ajustado para "Revisión" (más espacio) */
  }
  
  /* Estilos para la celda y el input de revisión */
  .review-cell {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .review-input {
    width: calc(100% - 40px); /* Ocupa el espacio restante dejando espacio para el botón */
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .edit-review-button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 20px;
  }
  
  /* Estilos del botón de ocultar/mostrar */
  .toggle-cotizaciones-button {
    margin-bottom: 15px;
    background-color: #FF6600;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  