/* AboutUs.css */

.about-us-section {
    background-color: var(--background-color);
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-us-content {
    max-width: 900px;
    margin: 0 auto;
    background: var(--white-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us-content h2 {
    color: var(--secondary-color);
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.about-us-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.about-us-content p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.values-section,
.experience-section,
.testimonials-section,
.contact-section {
    margin-top: 40px;
}

.values-section h3,
.experience-section h3,
.testimonials-section h3,
.contact-section h3 {
    color: var(--secondary-color);
    font-size: 28px;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

blockquote {
    color: #444;
    font-size: 18px;
    line-height: 1.6;
    font-style: italic;
    margin: 20px 0;
    padding: 10px 20px;
    border-left: 5px solid #007BFF;
    background-color: var(--white-color);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 900px) {
    .about-us-content h2 {
        font-size: 32px;
    }

    .about-us-content h3 {
        font-size: 24px;
    }

    .about-us-content p,
    .about-us-content blockquote {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .about-us-content {
        padding: 20px;
    }
}
