.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    background-color: var(--background-color);
    color: var(--text-color);
}

.contact-section h1{
    font-size: 56px !important;
    color: var(--white-color) !important;
    font-family: var(----secondary-font)
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--white-color);
    gap: 20px;
    padding: 0 20px 20px 20px;
    padding-bottom: 40px;
}

.contact-content h3 {
    color: var(--white-color) !important;
}

.contact-content span {
    font-size: 20px;
}

.contact-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--white-color) !important;
    font-weight: 400;
    font-size: 14px;
}

.contact-button {
    padding: 10px 20px;
    font-size: 18px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: var(--primary-color-hover);
}

/*FAQ section */
.frequent-question-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    background-color: var(--white-color);
    border-radius: 8px;
    margin: 30px 0;
}

.frequent-question {
    border-bottom: 1px solid var(--text-color-light);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
    padding: 20px;
}

.answer {
    font-size: 18px;
    text-align: left;
    background-color: var(--text-color-light);
    padding: 0 20px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height, padding 0.5s ease;
}

.active.answer {
    padding: 20px;
    max-height: 200px;
    opacity: 1;
}

.rotate {
    transition: transform 0.3s ease;
}

.rotate.up {
    transform: rotate(180deg);
}

/* Estilos para la sección de redes sociales */
.contact-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;
    max-width: 1200px;
}

.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.contact-socials span {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

.social-logos {
    display: flex;
    gap: 10px;
}

.social-item p {
    margin: 0;
    font-size: 16px;
    color: var(--text-color);
}

.social-item a {
    margin-top: 10px;
    font-size: 18px;
    color: var(--black-color);
    text-decoration: none;
}

.social-item img {
    margin-right: 10px;
    color: var(--black-color);
    max-width: 30px;
    max-height: 30px;
}

/* Google Maps */
.map-container {
    height: 400px; /* Ajusta según tus necesidades */
    width: 100%;
}


/* Estilos para pantallas más pequeñas (hasta 900px) */
@media only screen and (max-width: 900px) {
    .contact-content h3 {
        font-size: 40px;
    }

    .contact-content span {
        font-size: 18px;
    }

    .contact-content p {
        font-size: 16px;
    }

    .contact-button {
        font-size: 16px;
    }

    .question {
        font-size: 14px;
    }

    .answer {
        font-size: 16px;
    }

    .contact-socials span {
        font-size: 20px;
    }

    .social-item a {
        font-size: 16px;
    }

    .social-item svg {
        font-size: 20px;
    }
}

/* Estilos para pantallas aún más pequeñas (hasta 650px) */
@media only screen and (max-width: 650px) {
    .contact-content h3 {
        font-size: 30px;
    }

    .contact-content span {
        font-size: 16px;
    }

    .contact-content p {
        font-size: 14px;
    }

    .contact-button {
        font-size: 14px;
    }

    .question {
        font-size: 12px;
    }

    .answer {
        font-size: 14px;
    }

    .contact-socials span {
        font-size: 18px;
    }

    .social-item a {
        font-size: 14px;
    }

    .social-item svg {
        font-size: 18px;
    }
}
