/* FormSubmissionStatus.css */

/* LOADING */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Altura adaptable */
}

.loading-image {
    width: 100px; /* Tamaño ajustable */
    height: 100px;
}

.submission-status {
    background-color: var(--white-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 40px auto;
    font-family: 'Inter', sans-serif;
    border: 1px solid #e0e0e0; /* Borde sutil */
}

.status-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.status-icon {
    font-size: 50px; /* Icono grande */
    margin-bottom: 10px;
}

.success-message .status-icon {
    color: #28a746; /* Color para éxito */
}

.error-message .status-icon {
    color: #dc3545; /* Color para error */
}

.message-header {
    font-size: 28px; /* Tamaño ajustado */
    margin-bottom: 10px;
    font-weight: 600; /* Mayor énfasis */
    color: #333; /* Color más oscuro */
}

.message-body {
    font-size: 18px;
    color: #666; /* Color para texto secundario */
}

.next-steps {
    margin-top: 20px;
    text-align: left;
}

.next-steps-header {
    font-size: 20px; /* Tamaño ajustado */
    margin-bottom: 10px;
    font-weight: bold;
    color: #444; /* Color más oscuro */
}

.steps-list {
    list-style-type: decimal; /* Numeración en lista */
    padding-left: 20px; /* Espaciado */
}

.step-item {
    font-size: 18px;
    color: #444; /* Color para pasos */
    margin-bottom: 10px;
}

.request-numbers {
    margin-top: 20px; /* Espacio antes de los números */
    text-align: center; /* Centrar texto */
    font-size: 16px; /* Tamaño de fuente para números */
    color: #444; /* Color más oscuro */
}

.number-detail {
    font-weight: bold; /* Resaltar los números */
}

/* Responsive */
@media (max-width: 600px) {
    .submission-status {
        padding: 20px; /* Espaciado adaptable */
    }

    .message-header {
        font-size: 22px; /* Tamaño adaptable */
    }

    .message-body,
    .next-steps-header,
    .step-item {
        font-size: 16px; /* Tamaño adaptable */
    }
}
