.submission-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .loading-icon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .loading-icon i {
    margin-right: 10px;
    font-size: 24px;
    color: #007bff; /* Color azul */
  }
  
  .success-message,
  .error-message {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .success-message {
    background-color: #28a745; /* Color verde */
    color: #ffffff; /* Color blanco */
  }
  
  .error-message {
    background-color: #dc3545; /* Color rojo */
    color: #ffffff; /* Color blanco */
  }
  
  .next-steps {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Fondo semi-transparente gris */
    padding: 20px;
    border-radius: 5px;
  }
  
  .next-steps p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .next-steps ol {
    list-style-type: decimal;
    margin-left: 20px;
  }
  
  .next-steps ol li {
    margin-bottom: 10px;
  }
  
  .fa-spinner {
    font-size: 24px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  