.navbar {
    z-index: 99;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    margin-bottom: 65px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 65px;
    margin: 0 auto;
}

.logo-container {
    font-family: var(--font-secondary);     
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.logo-left {
    font-weight: bold;
}

.logo-right {
    color: var(--primary-color);
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--secondary-color-hover);
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.user-icon {
    cursor: pointer;
    font-size: 24px;
    width: 1em;
    height: 1em;
}