@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --primary-color: #FF6600; /* Rojo Vivo */
    --primary-color-hover: #e25a00; /* Rojo Vivo más oscuro para :hover */
    
    --secondary-color: #003366; /* Azul Oscuro */
    --secondary-color-hover: #002147; /* Azul Oscuro más intenso para :hover */
    
    --text-color: #333333; /* Gris Oscuro para texto */
    --grey-color: #70757A;
    --text-color-light: #F2F2F2; /* Gris Claro para fondos o textos sobre fondos oscuros */
    --hover-color-light: #f1efef;
    
    --background-color: #F5F7FA; /* Fondo principal */
    --white-color: #FFFFFF; /* Blanco para fondos alternativos */
    
    --green-color: #4CAF50; /* Verde Claro */
    --orange-color: #FF6600;
    --red-color: #FF393A;
    --red-color-hover: #e53935;
    --black-color: #000000;
    --focus-blue-color: #6DA0D3;

    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --logo-font: 'Anton', sans-serif;
}